fastapi
pydantic
uvicorn
sqlalchemy
python-dotenv
requests
openai
firebase-admin
langchain
langchain-core
langchain-openai
langchain-unstructured[local]
unstructured[pdf]
stripe
psycopg2-binary
python-multipart